html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title  password has successfully been reset
    link(href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i', rel='stylesheet')
    link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
    link(rel='stylesheet', href='../assets/styles/style.css', type='text/css')
  body(data-gr-c-s-loaded='true', style='')
    .template-wrapper
    table.body(border='0', cellpadding='0', cellspacing='0')
      tbody
        tr
          td  
          td.container
            .content
              table.main
                tbody
                  tr
                    td.wrapper
                      table(border='0', cellpadding='0', cellspacing='0')
                        tbody
                          tr
                            td
                              a.template-logo(href='../index.html')
                                img(src='https://kekasrijan.herokuapp.com/static/media/kpi.88a7c7c4.png', alt='')
                              p.lead
                                | Hello #{user.email}, 
                                br
                                | Your password has successfully been reset
                              table(border='0', cellpadding='0', cellspacing='0')
                                tbody
                                  tr
                                    td.mt30.mb30(align='center')
                                      table(border='0', cellpadding='0', cellspacing='0')
                                        tbody
                                          tr
                                            td
                                              p.user-text
                                                span  Your new password is #[pre #{password}]
                                                br
                                                a.btn-primary(href= login_url) Login 
                              p Thank you
                              p.mb0
                                | If you have any problems, please contact me at 
                                a.click-link(href='#') admin@gmail.com
              table.help-section
                tbody
                  tr
                    td.wrapper
                      table(border='0', cellpadding='0', cellspacing='0')
                        tbody
                          tr
                            td
                              h2.text-center.mb0 Need more help?
                              a.support-link(href='#') We're here,ready to here
              table
                tbody
                  tr
                    td.wrapper
                      table(border='0', cellpadding='0', cellspacing='0')
                        tbody
                          tr
                            td
                              p
                                | You received this email beacuse you just signed up for new account. If it look weird
                                a.default-link(href='#') view it in your browser
                  .footer
                    table(border='0', cellpadding='0', cellspacing='0')
                      tbody
                        tr
                          td.content-block
                            p.text-center
                              | © 2018 KPI App, Goa India
                              br
                              |  If these emails get annoying, please feel to 
                              a(href='#') unsubscribe
          td  
